.product{
  padding: 20px;
}  
.product-title{
  font-size: 22px;
  margin-bottom: 15px;
}
.product-description{
  font-size: 19px;
  margin-bottom: 15px;
}

.product-features{
  font-size: 17px;
  margin-bottom: 15px;
}

.product-price{
  font-size: 20px;
}
.btns-wrap{
  display: flex;
  justify-content: center;
}